*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Nunito", sans-serif;
  color: #464040;
  font-weight: 300;
  line-height: 1.6; }

.container {
  display: grid;
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] 1fr [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] 1fr [full-end]; }

.header {
  background-color: #543936; }

.agents {
  background-color: #1c2840; }

.features {
  background-color: #aaa; }

.footer {
  background-color: #1c2840; }

.gallery {
  background-color: #543936; }

.homes {
  background-color: #1c2840; }

.sidebar {
  background-color: #d45948; }

.story__pictures {
  background-color: #d45948; }

.story__content {
  background-color: #f9f7f6; }
