// COLORES
$color-primary: #d45948;
$color-primary-dark: #54231D;

$color-secondary: #1c2840;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #543936;
$color-grey-dark-2: #464040;

// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;       // 1rem = 10px => 10px / 16px = 62.5%
}

body {
    font-family: $font-primary;
    color: $color-grey-dark-2;
    font-weight: 300;
    line-height: 1.6;
}

// GRID
.container {
    display: grid;

    grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
    // grid-template-columns: repeat(8, 1fr);
    // grid-template-columns: 8rem repeat(8, minmax(min-content, 14rem));
    grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] 1fr [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end] ) [center-end] 1fr [full-end];
}

.btn {
    background-color: $color-primary;
    color: #fff;
    border: none;
    border-radius: 0;
    font-family: $font-display;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 1.8rem 3rem;
    cursor: pointer;
    transition: all .2s;

    &:hover {
        background-color: $color-primary-dark;
    }
}