.homes {
    background-color: $color-secondary;

    grid-column: center-start / center-end;
    grid-row: 4 / 5;

    
}

.home {
    &__img {
        width: 100%;
    }

    &__location,
    &__rooms,
    &__area,
    &__price {
        svg {
            width: 2rem;
            height: 2rem;
        }
    }
}